
@font-face {
    font-family: 'aqua';
    src: url(../font/aqua.ttf);
}


/*Variaveis css*/

:root {
    --bg-gradiente: linear-gradient(50deg, #d25400 20%, #F9D423 100%, #d25400 20%);
    --cor-btn-search: #f29b34;
    --bg-menu: #e8e8e8;
}


/*
cor botao search #f29b34
cor fundo search #f2f2f2

*/


/*Cores */

.bg-gradiente {
    background-image: linear-gradient(50deg, #d25400 20%, #F9D423 100%, #d25400 20%)!important;
}

.bg-orange {
    background-color: #d25400;
}

.txt-cinza {
    color: #b3b3b3;
}

.text-orange {
    color: #d25400;
}

.bg-menu {
    background-color: #E8E8E8;
}

.borda {
    margin-top: 5px;
    box-shadow: 0px 2px 0px #d25400;
    border-bottom: 1px solid #F9D423;
    border-bottom-color: linear-gradient(50deg, #d25400 20%, #F9D423 100%, #d25400 20%);
}


/*Botoes*/

.btn-orange {
    color: #FFFF;
    background-image: linear-gradient(50deg, #d25400 5%, #F9D423 100%, #d25400 100%, #F9D423 10%);
    border: none;
}

.btn-orange:hover {
    background: #F9D423;
    color: black;
}


/*Slide*/

.text-slid {
    width: 30%;
    left: 20%;
    top: 200px;
}


/*fim slide*/


/*Formularios*/


/*Formulario search */

input[type="search"] {
    border-radius: 20px;
    height: 40px;
    width: 90% !important;
    background: #f2f2f2;
    border: 3px solid #ffffff;
}

.input-group-addon {
    position: relative;
    width: 100%;
    border: none;
    height: auto;
}

.btn-search {
    background: #f29b34;
    color: #ffffff;
    position: absolute;
    right: 10%;
    width: 20%;
    height: 40px;
    border-radius: 0px 50px 50px 0;
    border: none;
}

input[type="search"]:focus~.btn-search {
    height: 50px;
    background: #f29b34;
    transition: height .10s ease-in-out;
    -webkit-transition: height .10s ease-in-out;
}

input[type="search"]:focus {
    box-shadow: 0 0 5px #b3b3b3 !important;
    border-radius: 50px;
    border: none;
    height: 50px;
    transition: height .10s ease-in-out;
    -webkit-transition: height .10s ease-in-out;
}

input[type="search"]:active {
    box-shadow: 0 0 5px #d25400 !important;
    border-radius: 50px;
    border: none;
}


/*fim search*/


/*Modal topo*/

#modal {
    /* visibility: hidden;*/
    width: 100%;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    top: 60px;
    z-index: 1;
    left: -50%;
    right: -50%;
    box-shadow: 1px 1px 2px #b3b3b3;
}

.modal-box {
    border-radius: 10px;
    width: 100%;
    background: #e8e8e8;
    border: none;
}

.modal-box a {
    background: none;
    border: none;
}


/*fim modal*/

.input-form {
    border: none;
    border-left: 5px solid #d25400 !important;
}

label {
    color: #d25400 !important;
}

.input-form:active {
    outline: 2px solid #d25400 !important;
}

.input-form:focus {
    box-shadow: 0 0 5px #d25400 !important;
    border-radius: 5px;
}

.input-form:hover {
    box-shadow: 0 0 5px #d25400 !important;
    border-radius: 5px;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}


/*cor Place holder*/

input::-webkit-input-placeholder {
    color: #d25400 !important;
}

input:-moz-placeholder {
    color: #d25400 !important;
}

input {
    outline: none;
}


/* container profissoes*/

.estilo {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 25%;
    background-image: linear-gradient(50deg, #d25400 5%, #F9D423 100%, #d25400 100%, #F9D423 10%)!important;
    overflow: hidden;
    box-shadow: 2px 2px 2px #b3b3b3;
    transform: rotate(-45deg);
}

.degrade {
    width: 100px;
    height: 100px;
    border-radius: 25%;
    background-image: linear-gradient(0deg, #fff 5%, #F9D423 100%, #d25400 100%, #F9D423 10%)!important;
}

.circulos {
    width: 100vw;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.containe {
    display: flex;
    background-color: #b3b3b3;
    justify-content: center;
    width: 100vw;
}


/*Icones*/

.fa-user-circle {
    color: #d25400;
    font-size: 6em;
    padding: 10px 0 30px;
}

.fa-star {
    padding: 3px !important;
    color: #d25400;
}


/*fim icones*/


/*resultado pesquisa*/

.resultado {
    margin: 5px 0 5px;
    border-radius: 10px;
    color: #d25400;
    box-shadow: 0 0 2px #b3b3b3;
    box-sizing: border-box !important;
}

.resultado:hover {
    color: #d25400;
    text-decoration: none;
    box-shadow: 0 0 1px #b3b3b3;
}

.img-resultado {
    width: 8em;
    height: 8em;
    overflow: hidden !important;
    overflow: hidden !important;
    border: 2px solid #d25400 !important;
    margin: 10px;
}

.div-img {
    width: 10em;
    height: 10em;
    overflow: hidden !important;
    overflow: hidden !important;
    border: 2px solid #d25400 !important;
    margin: 30px 0 10px 0;
}

.perfil-resultado p {
    padding: 2px !important;
    margin: 0;
}


/*paginação*/


/*avaliacao*/

.avaliacoes input[type=radio] {
    display: none;
}

.avaliacoes label i.fa::before {
    content: '\f005';
    color: #d25400;
}

.avaliacoes input[type=radio]:checked~label i.fa::before {
    color: #ccc;
}


/*fim avaliaca*/


/*footer*/

footer {
    width: 100%;
    height: 400px;
    background-image: url("../img/rodape.jpg");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}


/*fim footer*


/*pagina do perfil*/

body {
    margin: 5px 5px 5px 5px;
}

.card-1 {
    padding: 10px 10px 10px 10px;
    border: none !important;
}

.hr {
    color: #f00;
    width: 100%;
    height: auto;
}

table {
    border: none !important;
}

.table {
    border: none !important;
}

.table td {
    padding: 5px 12px !important;
    margin: 0 !important;
    border: none !important;
}

.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10 px;
    /* Added */
}


/*Pagina menu perfil cadastro */

.bg-perfil-orange {
    position: relative;
    height: 200px;
    width: 100%;
    background: #d25400;
    /*border-radius: 0px 0px 50px 50px / 0px 0px 50px 0px;*/
    border-top-left-radius: 15px;
    /* border-radius: 0 0 250px 50px / 25px 25px 0 0;
    -moz-border-radius: 0 0 250px 50px / 25px 25px 0 0;
    -webkit-border-radius: 0 0 250px 50px / 25px 25px 0 0;*/
}


/*.bg-perfil-orange:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 340px;
    height: 80px;
    background-color: white;
    right: -5px;
    top: 40px;
}

.bg-perfil-orange:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 300px;
    height: 70px;
    background-color: #e0efe3;
    left: 0;
    top: 27px;
}
*/